.content {
  background: #fff;
  padding: 24px;
  min-height: 70vh;
  margin-top: 16px;
  height: 100%;
  overflow: auto;

  @media (max-width: 600px) {
    padding: 16px;
  }

  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
      width: 300px !important;
      margin: 4px;
    }

    button {
      margin: 8px;
    }
  }
}

.mainContent {
  padding: 0px 24px 16px;
}

.games {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* grid-column-gap: 16px; */
  grid-gap: 16px;
  padding-bottom: 16px;
}

.pages {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  button {
    margin: 2px;
  }
}

.sider {
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
}

.icon {
  margin-right: 8px;
}

.menuText {
  font-weight: bold;

  @media (max-width: 730px) {
    display: none;
  }
}

.menuWrapper {
  position: fixed;
}
