.content {
  background: #fff;
  padding: 24px;
  min-height: 70vh;
  margin-top: 16px;

  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
      width: 300px !important;
      margin: 4px;
    }

    button {
      margin: 8px;
    }
  }
}

.games {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* grid-column-gap: 16px; */
  grid-gap: 16px;
}

.pages {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  button {
    margin: 2px;
  }
}
