.site-page-header {
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header-title {
  margin: 0 !important;
  font-size: 24px !important;
  font-weight: bold;
  block-size: auto;
}

.site-page-header .search {
  background-color: transparent !important;
}

.search {
  input {
    background-color: transparent !important;
    color: #fff;
  }
}

:global(.ant-page-header-heading-title) {
  text-overflow: initial;
  overflow: initial;
}

.header-menu {
  display: flex;

  div {
    margin: 16px;

    span {
      margin-left: 8px;
      color: #e5e5e5;
      cursor: pointer;

      &:hover {
        color: #fff;
      }
    }
  }
}
