#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.content {
  padding: 0 100px;
  margin-top: 64px;

  @media (max-width: 875px) {
    padding: 0;
  }
}
